body {
    font-family: sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    padding: 20px;
}

#regles {
    background: rgba(213, 194, 194, 0.11);
    border: 1px solid #cccccc;
    padding: 10px;
    margin-bottom: 20px;
    display: inline-block;
    text-align: left;
    border-radius: 25px;
}

#escenari {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
}

.riba {
    width: 30%;
    min-height: 200px;
    /*background-color: rgba(90, 163, 59, 0.91); !* Color terra *!*/
    background-image: url("fondo2.jpg");
    padding: 10px;
    border-radius: 25px;
}

#zona-barca {
    width: 20%;
    min-height: 150px;
    background-color: #61b7d8;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

button {
    margin: 5px;
    padding: 8px 12px;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 12px;
    align-self: flex-start;
    font-size: 50px;
}

buttonCreuar {
    margin: 5px;
    padding: 8px 12px;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 12px;
    align-self: flex-start;
}


button:hover {
    background-color: #eee;
}

#panell-missatges {
    margin-top: 30px;
    padding: 15px;
    background: rgb(204, 204, 204);
    color: #000000;
    border-radius: 5px;
}

