body {
    font-family: sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    padding: 20px;
    background-image: url("fofa.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -200px;


}

#regles {
    background: rgba(213, 194, 194, 0.49);
    border: 1px solid #cccccc;
    padding: 10px;
    margin-bottom: 20px;
    display: inline-block;
    text-align: left;
    border-radius: 25px;
}

#escenari {
    display: flex
;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 20px;
    height: 375px;
}

.riba {
    width: 30%;
    min-height: 200px;
    /*background-color: rgba(90, 163, 59, 0.91); !* Color terra *!*/
    padding: 10px;
    border-radius: 25px;
}

#zona-barca {
    width: 12%;
    min-height: 150px;
    background-color: rgba(124, 128, 101, 0);
    border-radius: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

button {
    margin: 5px;
    padding: 8px 12px;
    cursor: pointer;
    background-color: rgba(83, 83, 83, 0);
    align-self: flex-start;
    font-size: 50px;
    border: none;
}

buttonCreuar {
    margin: 5px;
    padding: 8px 12px;
    cursor: pointer;
    background-color: rgba(126, 119, 119, 0.67);
    /*border: 2px solid #333;*/
    border-radius: 12px;
    align-self: flex-start;
}


button:hover {
    background-color: rgba(119, 119, 119, 0.37);
}

#panell-missatges {
    margin-top: 30px;
    padding: 15px;
    background: rgba(204, 204, 204, 0.43);
    color: #000000;
    border-radius: 5px;
}

